	<div class="jumbotron">
      <div class="container">
        <h1>Welcome to Readio,
        <br/>
        <small>Narrated news, blogs and stories.</small>
        </h1>
        <br/>
        <p>Signup to submit any blog post, story or news article. We'll read it, record it and send the audio back for you to listen to.	
        </p>
        <br/>
        <p><a class="btn btn-primary btn-lg" href="<%= new_user_registration_path %>" role="button">Join Us</a></p>
      </div>
    </div>

    <style type="text/css">

    body {
        background: url(http://www.elon.xyz/wp-content/uploads/2015/08/bg-warm.jpg)  no-repeat center center fixed !important;
        -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    }

     .jumbotron {
        opacity: 0.75 !important;
     }
    </style>