
<p>
  <strong>Name:</strong>
  <%= @invitecode.name %>
</p>

<p>
<strong>Used:</strong>
	<%= @users.count %>
</p>

<%= link_to 'Edit', edit_invitecode_path(@invitecode) %> |
<%= link_to 'Back', invitecodes_path %>
