<h1>Posts to be recorded:</h1>

<hr/>

<% @posts.each do |post| %>
	<h3><%= link_to post.title || "No Title", post, :target => "_blank" %></h3>

	<span class="pull-left">
		<%= link_to 'Edit', edit_post_path(post), :class => "btn btn-default" %>
	</span>
	<span class="pull-left">
		&nbsp;<%= link_to 'Link', post.url, :target => "_blank", :class => "btn btn-primary" %>
	</span>

	 <span>&nbsp; <%= link_to 'Destroy', post,  :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
	<br/>	<br/>
	<hr/>

<% end %>