<div class="text-center">


<h1 class="">
  <%= image_tag("logo.png", :height => "50") %>
    Readio Facebook<br/>
    <small>
      Narrated news, blogs and stories
    </small>

</h1>

</div>
<hr/>

<div class="col-md-12">
<div class="col-md-8 row">
   <%= render 'shared/posts', :posts => @posts %>
   <%= paginate @posts %>
</div>


</div>


