
<h1></h1>

    <% @posts.each do |post| %>

        <h3><%= link_to post.title, post %></h3>
            <% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
        <span><%= link_to 'Edit', edit_post_path(post) %></span>
        <span> | <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        <% end %>
        <% end %>
      <br>
    <% end %>



