/* Readable
 * Bootswatch
 *= require_self
 *= require readable/loader
 *= require readable/bootswatch
*/

.playa .col-sm-4, .col-sm-3 {
	height: 40px !important;
}


.social_buttons li {
	display: inline-block !important;
}

.one {
margin-top:10px;
height: 3px;
width: 5px;
background-color: #000;
border-radius: 2px;
margin-bottom: 2px;
}


.two {

height: 3px;
width: 15px;
background-color: #000;
border-radius: 2px;
margin-bottom: 2px;

}


.three {

height: 3px;
width: 25px;
background-color: #000;
border-radius: 2px;
margin-bottom: 2px;
}

.four {

height: 3px;
width: 35px;
background-color: #000;
border-radius: 2px;
margin-bottom: 2px;
}


.five {

height: 3px;
width: 25px;
background-color: #000;
border-radius: 2px;
margin-bottom: 2px;
}

.six {

height: 3px;
width: 15px;
background-color: #000;
border-radius: 2px;
margin-bottom: 2px;
}

.seven {

height: 3px;
width: 5px;
background-color: #000;
border-radius: 2px;
margin-bottom: 2px;
}
=======
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
